<div class="roles-wrap">
  <div class="roles-header">
    <h1>{{ lang.t('roles.title') }}</h1>
    <p>{{ lang.t('roles.subtitle') }}</p>
  </div>

  <p-tabs [value]="activeTab()" (valueChange)="onTabChange($event)" class="roles-tabs">
    <p-tablist>
      <p-tab value="assignment">{{ lang.t('roles.tabs.assignment') }}</p-tab>
      <p-tab value="permissions">{{ lang.t('roles.tabs.permissions') }}</p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel value="assignment">
        <bw-roles-assignment />
      </p-tabpanel>
      <p-tabpanel value="permissions">
        <bw-role-permissions />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
